<center>
  <div>
    <img src="/images/pilkada2018.png" alt="Pilkada 2018">
  </div>
  <iframe src="https://pilkada.merdeka.com/quickcount/jawa-barat" width="980px" height="260px" style="border:none;"></iframe>
</center>